<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" xmlns:xlink="http://www.w3.org/1999/xlink" lang="pt-br">

<head>

</head>

<body>
  <header>
  </header>

  <main>

  </main>
</body>

</html>